/* link disable*/
.not-active {
    pointer-events: none;
    cursor: default;
}

/* countdown */
#clockdiv{
    color: #fff;
    display: inline-block;
    margin-right: -14px;
    margin-left: 10px;
    font-weight: 100;
    text-align: center;
    font-size: 12px;
    background: #00BF96;
    border-radius: 3px;
}

#clockdiv > div{
    padding: 4px;
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div > span{
    display: inline-block;
}

/**/

.clear-both {
    clear:both;
}

textarea {
    resize: none !important;
}

.form-size {
    width: 400px;
}